<div class="flex-1 pt-2 pb-1">
  <nav id="store" class="w-full z-30 top-0 px-6 py-1">
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3"
    >
      <a
        class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl"

      >
        {{ data2?.name }}
      </a>
    </div>
  </nav>
</div>

<div class="grid lg:grid-cols-2 md:grid-cols-1">
  <div class="p-6" *ngIf="data2">
    <a href="#" class="md:flex md:justify-around lg:block">
      <img
        width="70%"
        height="70%"
        alt="fruit"
        class="hover:shadow-lg overflow-hidden"
        src="{{ data2.imageUrl }}"
      />
    </a>
  </div>

  <div class="p-6 md:w-full" *ngIf="data2">
    <p class="text-xl">{{ data2.name }}</p>
    <i
      class="las la-plus h-6 w-6 fill-current text-gray-600 hover:text-black"
      style="font-size: 24px"
    ></i>
    <p class="pt-1 text-gray-900">{{ data2.price }}$</p>
  </div>
</div>
