<p-toast></p-toast>

<section class="py-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div
        class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3"
      >
        <a
          class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl"
        >
          Store
        </a>
        <div class="flex items-center">
          <div
            *ngIf="isAscending"
            class="pl-3 inline-block no-underline hover:text-black"
            (click)="sortAces()"
          >
            <i
              class="las las la-sort-alpha-up fill-current hover:text-black"
              style="font-size: 24px"
            ></i>
          </div>

          <div
            class="pl-3 inline-block no-underline hover:text-black"
            *ngIf="!isAscending"
            (click)="sortAces()"
          >
            <i
              class="las la-sort-alpha-up-alt fill-current hover:text-black"
              style="font-size: 24px"
            ></i>
          </div>

          <!-- search -->
          <a class="pl-4 inline-block no-underline hover:text-black">
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                placeholder="search..."
                [(ngModel)]="searchValue"
                (keydown)="onKeyDown($event)"
              />
              <button
                type="button"
                pButton
                icon="pi pi-search"
                (click)="search()"
              ></button>
            </div>
          </a>
        </div>
      </div>
    </nav>

    <div
      class="md:w-1/3 xl:w-1/4 p-6 flex flex-col"
      *ngFor="let item of data"
      [@boxAnimation]="!isLoading ? ':enter' : ':leave'"
    >
      <a href="products/detail/{{ item.id }}">
        <img
          width="108%"
          height="241px"
          alt="fruit"
          class="hover:grow hover:shadow-lg overflow-hidden"
          src="{{ item.imageUrl }}"
        />
      </a>
      <div class="pt-3 flex items-center justify-between">
        <p>{{ item.name }}</p>
        <i
          class="h-6 w-6 fill-current hover:text-black"
          [ngClass]="
            item.isFavorite
              ? 'las la-heart text-red-600'
              : 'lar la-heart text-gray-600'
          "
          style="font-size: 24px"
          (click)="favoriteIcon(item)"
        ></i>
      </div>
      <p class="pt-1 text-gray-900">{{ item.price }}$</p>
    </div>
  </div>
</section>
