<div
  class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3"
>
  <div class="flex w-full justify-evenly mb-6">
    <a
      class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl"
      routerLink=""
    >
      <i
        class="las la-shopping-bag fill-current text-gray-800 mr-2"
        style="font-size: 32px"
      ></i>
      Fruit-Market
    </a>
  </div>
  <p class="text-3xl">Register Form</p>
</div>

<div class="container mx-auto mt-1">
  <form>
    <div
      class="mx-auto rounded px-8 pt-6 pb-8 mb-4 shadow shadow-slate-300 min-h-full my-2"
    >
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0 card justify-content-center">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-last-name"
          >
            Name
          </label>
          <div class="grid">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
              />
            </span>
          </div>
        </div>
        <div class="md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-last-name"
          >
            Last Name
          </label>
          <div class="grid">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
              />
            </span>
          </div>
        </div>
      </div>
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0 card justify-content-center">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-Phone"
          >
            Phone Number
          </label>
          <div class="grid">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
              />
            </span>
          </div>
        </div>
        <div class="md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-Email"
          >
            Email
          </label>
          <div class="grid">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
              />
            </span>
          </div>
        </div>
      </div>

      <div class="-mx-3 md:flex mb-6 ">
        <div class="md:w-1/2 px-3  mb-6 md:mb-0 ">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-Birthday"
          >
            Birthday
          </label>

          <p-calendar
            styleClass="appearance-none block w-full bg-grey-lighter w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded  "
          ></p-calendar>
        </div>
        <div class="md:w-1/2 px-3 ">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-Gender"
          >
            Gender
          </label>

          <app-gender
            class="appearance-none block w-full bg-grey-lighter"
          ></app-gender>
        </div>
      </div>

      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
            for="grid-password"
          >
            Password
          </label>
          <div class="grid">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="password"
                pInputText
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
              />
            </span>
          </div>
          <p class="text-grey-dark text-xs italic mt-3">
            Make it as long and as crazy as you'd like
          </p>
        </div>
      </div>
      <!-- <div class="-mx-3 md:flex mb-2">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <div class="md:w-1/2 px-3">
            <div class="card flex justify-content-center">

              <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
                  <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                      </ul>
                  </ng-template>
              </p-fileUpload>
          </div>
          </div>
        </div>
      </div> -->
    </div>
  </form>
</div>
